<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Connect4WPF.playerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Connect4WPF.gameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Connect4WPF.playerSettings>
            <setting name="player1Name" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="player2Name" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="player1Colour" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="player2Colour" serializeAs="String">
                <value>Red</value>
            </setting>
        </Connect4WPF.playerSettings>
        <Connect4WPF.gameSettings>
            <setting name="isYellow" serializeAs="String">
                <value>False</value>
            </setting>
        </Connect4WPF.gameSettings>
    </userSettings>
</configuration>